a{
  text-decoration: none;
  color: black
}
/*HAS EVERYTHING TILL SEARCH*/
#tops{
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0%;
}
#baixo{
  width: 100%;
}
header{
  min-height: 100px;
}
body{
  min-height: 400px;
}
#info{
  min-height: 100px;
}
#header #body{
  margin-left: 10%;
  margin-right: 10%;
}
@viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
@-ms-viewport{
  zoom: 1.0;
  width: extend-to-zoom;
}
/*HAS THE CHIC BOUTIQUE HEADING*/
#ftops{
  width: 100%;
  text-align: center;
}
#ftops a{
  color: black;
}
/*HAS THE DONATION AND SEARCH DIVISION*/
#searchplace{
width: 100%;
float: right;
padding-bottom: 15px;
}
/*DONATION DIVISION*/
#menu{
float: left;
margin-left: 10%;
font-size: x-large;
cursor: pointer;
text-decoration: none;
}
#menu li{
  margin: 30px 30px 30px 0px;
  list-style-type: none;
}

#submenu{
  display: none;
}

#menu:hover #submenu{
  display: block;
  position: absolute;
  background-color: white;
}

#menu #submenu a:hover{
  color: grey;
}
/*SEARCH DIVISION*/
.dona{
 float: right;
 margin-right: 10%;
 font-size: large;  
}
.dona a{
font-size: x-large;
color: black;
}

/*MEN AND WOMEN SIDE-BY-SIDE*/
#sex{
width: 100%;
height: 500px;
}

/*MEN AND WOMEN SIDE-BY-SIDE HEADINGS*/
#sex h1{
margin-top: 0;
text-align: center;
}
/*MEN SECTION*/
#men{
  float: left;
  margin-left: 10%;
background-image: url(men.png);
}
#thesex h1{
width: 100%;
text-align: center;
}
#thehead{
  width: 100%;
  display: flex;
  overflow-x: auto;
  justify-content: center;
}
.thehead a{
  padding: 10px;
}

#thehead1{
  justify-content: center;
  text-align: center;
}
#thehead1 img{
  padding: 10px;
  height: 500px;
  width: 450px;
}
.cmenima{
  background-image: url(b.jpg);
  padding: 20px;
}
.cmenima{
background-size: cover;
width: 300px;
height: 350px;
margin:50px auto;
}
.cmenima h1{
padding-top: 50%;
color: white;
}

/*WOMEN SECTION*/
#women{
  float: right;
  margin-right: 10%;
background-image: url(women.jpg);
}

#thewomen{
  width: 100%;
  text-align: center;
}
/*THE 2 IMAGES THAT REPRESENT MEN AND WOMEN SECTIONS*/
.rep{
background-size: cover;
width: fit-content;
float: left;
width: 550px;
height: 500px;
}
.rep h1{
  padding-top: 45%;
  color: white;
}

/*NEW ITEMS GENERAL*/
#newItems{
  width: 90%;
  display: flex;
  padding: 10px;
  margin: 10px auto;
  justify-content: center; 
  align-items: center;
}
.cnewItems img{
 width: 400px;
 height: 450px;
 justify-content: center;
 box-sizing: border-box;
 margin: 0px 10px;
}
#slider{
  overflow-x: auto;
}
#slide{
  display: flex;
  align-items: center;
}

/*ITEMS GENERAL*/
#items{
margin: 10px auto;
width: 90%;
justify-content: center;
text-align: center;
}
.cItems img{
width: 400px;
height: 450px;
justify-content: center;
margin: 20px;
box-sizing: border-box;
}

/*INFO*/
#info{
width: 100%;
height: 200px;
text-align: center;
}
#info a{
  font-size: larger;
  color: black;
  margin: 10px;
}
/* ABOUT, MEETOUR TEAM, DONATE RETURNS... */
#abp{
  text-align: center;
}
